body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}
 
.header {
    background: #3a6dcc;
    color: white;
    padding: 20px;
}
        
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
        
.title1{
    font-size: 32px;
    margin-bottom: 15px;
}
        
.text {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 500px;
}
        
.button {
    display: inline-block;
    background: white;
    color: #3a6dcc;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}
.footer{
    background-color: #f37908;
    width: 100%;
    height: 100px;
}

.footer{
    align-items: center;
}